################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ZdeskUserPortalCoreApi_V1
/.vs
/ZdeskUserPortal.DataAccess/bin/Debug/net8.0
/ZdeskUserPortalApiCore/.vs/ZdeskUserPortalApiCore/FileContentIndex/78c33bc8-3316-4ede-93fb-fcbe15864610.vsidx
