################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ZdeskUserPortal.Business/bin/Debug/net8.0/ZdeskUserPortal.Business.dll
/ZdeskUserPortal.Business/bin/Debug/net8.0/ZdeskUserPortal.Business.pdb
/ZdeskUserPortal.Business/bin/Debug/net8.0/ZdeskUserPortal.DTOModel.dll
/ZdeskUserPortal.Business/bin/Debug/net8.0/ZdeskUserPortal.DTOModel.pdb
/ZdeskUserPortal.Business/obj/Debug/net8.0/ref/ZdeskUserPortal.Business.dll
/ZdeskUserPortal.Business/obj/Debug/net8.0/refint/ZdeskUserPortal.Business.dll
/ZdeskUserPortal.Business/obj/Debug/net8.0/ZdeskUserPortal.Business.AssemblyInfo.cs
/ZdeskUserPortal.Business/obj/Debug/net8.0/ZdeskUserPortal.Business.AssemblyInfoInputs.cache
/ZdeskUserPortal.Business/obj/Debug/net8.0/ZdeskUserPortal.Business.csproj.AssemblyReference.cache
*.BuildWithSkipAnalyzers
/ZdeskUserPortal.Business/obj/Debug/net8.0/ZdeskUserPortal.Business.dll
/ZdeskUserPortal.Business/obj/Debug/net8.0/ZdeskUserPortal.Business.pdb
/ZdeskUserPortal.Business/obj/Debug/net8.0/ZdeskUserPortal.Business.sourcelink.json
/ZdeskUserPortal.Business/obj/Release/net8.0/ZdeskUserPortal.Business.AssemblyInfo.cs
/ZdeskUserPortal.Business/obj/Release/net8.0/ZdeskUserPortal.Business.AssemblyInfoInputs.cache
/ZdeskUserPortal.DataAccess/bin/Debug/net8.0/ZdeskUserPortal.DataAccess.dll
/ZdeskUserPortal.DataAccess/bin/Debug/net8.0/ZdeskUserPortal.DataAccess.pdb
/ZdeskUserPortal.DataAccess/obj/Debug/net8.0/ref/ZdeskUserPortal.DataAccess.dll
/ZdeskUserPortal.DataAccess/obj/Debug/net8.0/refint/ZdeskUserPortal.DataAccess.dll
/ZdeskUserPortal.DataAccess/obj/Debug/net8.0/ZdeskUserPortal.DataAccess.AssemblyInfo.cs
/ZdeskUserPortal.DataAccess/obj/Debug/net8.0/ZdeskUserPortal.DataAccess.AssemblyInfoInputs.cache
/ZdeskUserPortal.DataAccess/obj/Debug/net8.0/ZdeskUserPortal.DataAccess.dll
/ZdeskUserPortal.DataAccess/obj/Debug/net8.0/ZdeskUserPortal.DataAccess.pdb
/ZdeskUserPortal.DataAccess/obj/Debug/net8.0/ZdeskUserPortal.DataAccess.sourcelink.json
/ZdeskUserPortal.DataAccess/obj/Release/net8.0/ZdeskUserPortal.DataAccess.AssemblyInfo.cs
/ZdeskUserPortal.DataAccess/obj/Release/net8.0/ZdeskUserPortal.DataAccess.AssemblyInfoInputs.cache
*.dacpac
*.dll
*.pdb
/ZdeskUserPortal.Domain/obj/Debug/net8.0/ZdeskUserPortal.Domain.AssemblyInfo.cs
/ZdeskUserPortal.Domain/obj/Debug/net8.0/ZdeskUserPortal.Domain.AssemblyInfoInputs.cache
/ZdeskUserPortal.DTOModel/bin/Debug/net8.0/ZdeskUserPortal.DTOModel.dll
/ZdeskUserPortal.DTOModel/bin/Debug/net8.0/ZdeskUserPortal.DTOModel.pdb
/ZdeskUserPortal.DTOModel/obj/Debug/net8.0/ref/ZdeskUserPortal.DTOModel.dll
/ZdeskUserPortal.DTOModel/obj/Debug/net8.0/refint/ZdeskUserPortal.DTOModel.dll
/ZdeskUserPortal.DTOModel/obj/Debug/net8.0/ZdeskUserPortal.DTOModel.AssemblyInfo.cs
/ZdeskUserPortal.DTOModel/obj/Debug/net8.0/ZdeskUserPortal.DTOModel.AssemblyInfoInputs.cache
/ZdeskUserPortal.DTOModel/obj/Debug/net8.0/ZdeskUserPortal.DTOModel.csproj.CoreCompileInputs.cache
/ZdeskUserPortal.DTOModel/obj/Debug/net8.0/ZdeskUserPortal.DTOModel.dll
/ZdeskUserPortal.DTOModel/obj/Debug/net8.0/ZdeskUserPortal.DTOModel.pdb
/ZdeskUserPortal.DTOModel/obj/Debug/net8.0/ZdeskUserPortal.DTOModel.sourcelink.json
/ZdeskUserPortal.DTOModel/obj/Release/net8.0/ZdeskUserPortal.DTOModel.AssemblyInfo.cs
/ZdeskUserPortal.DTOModel/obj/Release/net8.0/ZdeskUserPortal.DTOModel.AssemblyInfoInputs.cache
/ZdeskUserPortalApiCore/bin/Debug/net8.0/logs/app-2025-05-09.log
/ZdeskUserPortalApiCore/bin/Debug/net8.0/appsettings.json
/ZdeskUserPortalApiCore/bin/Debug/net8.0/ZdeskUserPortal.Business.dll
/ZdeskUserPortalApiCore/bin/Debug/net8.0/ZdeskUserPortal.Business.pdb
/ZdeskUserPortalApiCore/bin/Debug/net8.0/ZdeskUserPortal.DataAccess.dll
/ZdeskUserPortalApiCore/bin/Debug/net8.0/ZdeskUserPortal.DataAccess.pdb
/ZdeskUserPortalApiCore/bin/Debug/net8.0/ZdeskUserPortal.DTOModel.dll
/ZdeskUserPortalApiCore/bin/Debug/net8.0/ZdeskUserPortal.DTOModel.pdb
/ZdeskUserPortalApiCore/bin/Debug/net8.0/ZdeskUserPortalApiCore.dll
/ZdeskUserPortalApiCore/bin/Debug/net8.0/ZdeskUserPortalApiCore.exe
/ZdeskUserPortalApiCore/bin/Debug/net8.0/ZdeskUserPortalApiCore.pdb
/ZdeskUserPortalApiCore/obj/Debug/net8.0/EndpointInfo/ZdeskUserPortalApiCore.json
/ZdeskUserPortalApiCore/obj/Debug/net8.0/ref/ZdeskUserPortalApiCore.dll
/ZdeskUserPortalApiCore/obj/Debug/net8.0/refint/ZdeskUserPortalApiCore.dll
/ZdeskUserPortalApiCore/obj/Debug/net8.0/staticwebassets/msbuild.build.ZdeskUserPortalApiCore.props
/ZdeskUserPortalApiCore/obj/Debug/net8.0/ApiEndpoints.json
/ZdeskUserPortalApiCore/obj/Debug/net8.0/apphost.exe
/ZdeskUserPortalApiCore/obj/Debug/net8.0/staticwebassets.build.json
/ZdeskUserPortalApiCore/obj/Debug/net8.0/ZdeskUserPortalApiCore.AssemblyInfo.cs
/ZdeskUserPortalApiCore/obj/Debug/net8.0/ZdeskUserPortalApiCore.AssemblyInfoInputs.cache
/ZdeskUserPortalApiCore/obj/Debug/net8.0/ZdeskUserPortalApiCore.assets.cache
/ZdeskUserPortalApiCore/obj/Debug/net8.0/ZdeskUserPortalApiCore.csproj.AssemblyReference.cache
/ZdeskUserPortalApiCore/obj/Debug/net8.0/ZdeskUserPortalApiCore.csproj.CoreCompileInputs.cache
/ZdeskUserPortalApiCore/obj/Debug/net8.0/ZdeskUserPortalApiCore.csproj.FileListAbsolute.txt
/ZdeskUserPortalApiCore/obj/Debug/net8.0/ZdeskUserPortalApiCore.dll
/ZdeskUserPortalApiCore/obj/Debug/net8.0/ZdeskUserPortalApiCore.GeneratedMSBuildEditorConfig.editorconfig
/ZdeskUserPortalApiCore/obj/Debug/net8.0/ZdeskUserPortalApiCore.genruntimeconfig.cache
/ZdeskUserPortalApiCore/obj/Debug/net8.0/ZdeskUserPortalApiCore.pdb
/ZdeskUserPortalApiCore/obj/Debug/net8.0/ZdeskUserPortalApiCore.sourcelink.json
/ZdeskUserPortalApiCore/obj/Release/net8.0/ZdeskUserPortalApiCore.AssemblyInfo.cs
/ZdeskUserPortalApiCore/obj/Release/net8.0/ZdeskUserPortalApiCore.AssemblyInfoInputs.cache
/ZdeskUserPortalApiCore/obj/Release/net8.0/ZdeskUserPortalApiCore.assets.cache
/ZdeskUserPortalApiCore/obj/Release/net8.0/ZdeskUserPortalApiCore.csproj.AssemblyReference.cache
/ZdeskUserPortalApiCore/obj/Release/net8.0/ZdeskUserPortalApiCore.GeneratedMSBuildEditorConfig.editorconfig
/ZdeskUserPortalApiCore/obj/project.assets.json
/ZdeskUserPortalApiCore/obj/project.nuget.cache
/ZdeskUserPortalApiCore/obj/ZdeskUserPortalApiCore.csproj.nuget.dgspec.json
/ZdeskUserPortalApiCore/obj/ZdeskUserPortalApiCore.csproj.nuget.g.props
*.bin
*.vsidx
/ZdeskUserPortalApiCore/.vs/ZdeskUserPortalApiCore/v17/.suo
*.json
/ZdeskUserPortalApiCore/.vs/ZdeskUserPortalApiCore/v17/DocumentLayout.json
*.config
/ZdeskUserPortal.Business/bin/Debug/net8.0/ZdeskUserPortal.Business.deps.json
/ZdeskUserPortal.Business/bin/Debug/net8.0/ZdeskUserPortal.Domain.dll
/ZdeskUserPortal.Business/bin/Debug/net8.0/ZdeskUserPortal.Domain.pdb
/ZdeskUserPortalApiCore/bin/Debug/net8.0/ZdeskUserPortal.Domain.dll
/ZdeskUserPortalApiCore/.vs/ZdeskUserPortalApiCore/v17
/ZdeskUserPortalApiCore/bin/Debug/net8.0/ZdeskUserPortal.Domain.pdb
/ZdeskUserPortalApiCore/bin/Debug/net8.0/ZdeskUserPortalApiCore.deps.json
/ZdeskUserPortal.DataBaseScript/obj/Debug/ZdeskUserPortal.DataBaseScript.sqlproj.FileListAbsolute.txt
*.dbmdl
*.jfm
