<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="appName" value="Zservice-UserPortalApi" />
	<variable name="logDirectory" value="c:\temp\logs\${appName}" />
	<!-- the targets to write to -->
	<targets>
		<target name="debug" xsi:type="Debugger" layout="${time}|${event-properties:item=EventId_Id}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />
		<target name="error" xsi:type="Debugger" layout="${time}|${event-properties:item=EventId_Id}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />

		<target xsi:type="Console" name="logConsole"
				layout="${time}|${event-properties:item=EventId_Id}|${level:uppercase=true}|${message} ${exception}" />

		<target xsi:type="ColoredConsole" name="logColoredConsole"
				layout="${time}|${event-properties:item=EventId_Id}|${level:uppercase=true}|${message} ${exception}"
				useDefaultRowHighlightingRules="true" />

		<target xsi:type="File" name="logFile"
				fileName="${logDirectory}/${appName}.log"
				layout="${time}|${event-properties:item=EventId_Id}|${level:uppercase=true}|${message} ${exception:format=tostring}|${logger}|${all-event-properties}"
				archiveFileName="${logDirectory}/${appName}.{#}.log" archiveNumbering="DateAndSequence" archiveEvery="Day" archiveDateFormat="yyyyMMdd" />
		<target xsi:type="File" name="errorFile"
				fileName="${logDirectory}/${appName}.error.log"
				layout="${time}|${event-properties:item=EventId_Id}|${level:uppercase=true}|${message} ${exception:format=tostring}|${logger}|${all-event-properties}"
				archiveFileName="${logDirectory}/${appName}.error.{#}.log" archiveNumbering="DateAndSequence" archiveEvery="Day" archiveDateFormat="yyyyMMdd" />

		<!--
     A simple PowerShell command to create/delete the event log
     Get-EventLog -List
     New-EventLog -LogName "PH-ApplicationService" -Source "PH-ApplicationService"
     Remove-EventLog -LogName "PH-ApplicationService"
   -->
		<target xsi:type="EventLog" name="eventlog"
				machineName="." log="${appName}" source="${appName}"
				layout="${message}${newline}${exception:format=ToString}"
				eventId="${event-properties:item=EventId_Id}" MaxKilobytes="49920" />
	</targets>

	<rules>
		<!-- Log all levels to file -->
		<logger name="*" enabled="false" writeTo="debug" maxlevel="Debug"/>
		<logger name="*" enabled="true" writeTo="error" minlevel="Error"/>

		<logger name="*" enabled="true" writeTo="logConsole" minlevel="Warn" />
		<logger name="*" enabled="true" writeTo="logColoredConsole" minlevel="Warn" />

		<logger name="*" enabled="true" writeTo="logFile"   minlevel="Trace" maxlevel="Warn"/>
		<logger name="*" enabled="true" writeTo="errorFile" minlevel="Error"/>

		<logger name="*" enabled="true" writeTo="eventlog" minlevel="Info"/>
	</rules>
</nlog>