<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Write logs to file -->
		<target name="file" xsi:type="File" fileName="logs/app-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=toString}" />
	</targets>

	<rules>
		<!-- Log all levels to file -->
		<logger name="*" minlevel="Info" writeTo="file" />
		<logger name="*" minlevel="Trace" writeTo="file" />
		<logger name="*" minlevel="Warn" writeTo="file" />
		<logger name="*" minlevel="Error" writeTo="file" />
		<logger name="*" minlevel="Fatal" writeTo="file" />
	</rules>
</nlog>